h1.sectionHead
    i.fa.fa-search
    span Search
div.search
    form.searchForm
        input(type="text", placeholder="Search for a show...").searchBox
        div.errBar
            span.errText
div.series

script(type='text/javascript').
    var defaultSearch ="#{defaultSearch}";

script(type='text/javascript', src="/scripts/search.js")

