extends layout

mixin episode(ep)
    div.row.ep-row
            div.still-col
                if ep.still !== "/img/nostill.jpg"
                    img.ep-still(src="#{ep.still}")
            div.col-sm-12.desc-col
                p.ep-desc= "S" + data.season + "E" + ep.episode + ": " + ep.title
                
block content
    div.showHeader(style="background-image: url(#{data.backdrop})")
        h1= data.show + " Season " + data.season
    each ep in data.episodes
        +episode(ep)